// -------------------
// ----- MOBILE ------
.in-progress {
    height: calc(100vh - 60px - 40vh);
    background-image: url(../images/work-in-progress.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30vh;
}

// -------------------
// ----- TABLET ------
@media screen and (min-width:768px) {
    .in-progress {
        height: calc(100vh - 80px - 450px);
        background-size: 15vh;
    }
}

// -------------------
// ----- DESKTOP -----
@media screen and (min-width: 1200px) {
    .in-progress {
        height: calc(100vh - 80px - 241px);
        background-size: 30vh;
    }
}