// -------------------
// ----- MOBILE ------
.in-progress {
    height: calc(100vh - 60px - 40vh);
    background-image: url(../images/work-in-progress.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50vw;
}

// -------------------
// ----- TABLET ------
@media screen and (min-width:768px) {
    .in-progress {
        height: calc(100vh - 80px - 450px);
        background-size: 30vw;
    }
}

// .in-progress {
//     height: calc(100vh - 80px - 241px);
//     background-image: url(../images/work-in-progress.png);
//     background-repeat: no-repeat;
//     background-position: 50% 50%;
//     background-size: 50vw;
// }