// -------------------
// ----- MOBILE ------
.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: $blackColor;

    &:hover,
    &:active {
        color: $accentColor;
        background-color: transparent;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $whiteColor;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $blackColor;
}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:active {
    color: $accentColor;
}

.mobile-menu {
    list-style: none;

    &__link {
        display: block;
        color: $blackColor;
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        padding-bottom: 32px;

        &:hover,
        &:focus,
        &:active {
            color: $accentColor;
        }
    }

    &-contact {
        margin-top: 38vh;

        &__link {
            text-decoration: none;
            color: $descriptionColor;
            font-weight: 500;
            letter-spacing: 0.02em;

            &:hover,
            &:focus,
            &:active {
                color: $accentColor;
            }
        }

        &__link[href="tel:+48111111111"] {
            font-size: 34px;
            line-height: 1.176;
        }

        &__link[href="mailto:info@devstudio.com"] {
            display: block;
            padding-top: 32px;
            font-size: 24px;
            line-height: 1.167;
        }
    }

    &-socials {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8vh;

        &__link {
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.222;
            letter-spacing: 0.02em;
            color: $accentColor;
            border-right: $mobileMenuBorderSocials;
        }
    }
}

@media (min-width: 768px) {
    .mobile-header {
        display: none;
    }
}

// -----------------------------------------------------------------
// .menu .link {
//     padding: 10px;
//     color: inherit;
//     text-decoration: none;
// }

// .menu .link:hover,
// .menu .link:focus {
//     text-decoration: underline;
// }

// .menu-toggle {
//     min-height: 40px;
//     min-width: 40px;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     margin: 0;
//     padding: 0;
//     background-color: transparent;
//     cursor: pointer;
//     border: none;
//     border-radius: 50%;
//     outline: none;
// }

// @media (min-width: 768px) {
//     .menu-toggle {
//         display: none;
//     }
// }

// .menu-toggle:hover,
// .menu-toggle:focus {
//     background-color: rgba(0, 0, 0, 0.1);
// }

// .menu-container {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     padding: 32px;
//     background-color: #3f51b5;
//     z-index: 999;

//     transform: translateX(100%);
//     transition: transform 250ms ease-in-out;
// }

// .menu-container.is-open {
//     transform: translateX(0);
// }

// .menu-container .menu-toggle {
//     position: absolute;
//     top: 16px;
//     right: 16px;
//     color: #fff;
// }

// .mobile-menu {
//     padding: 0;
//     margin: 0;
//     list-style: none;
// }

// .mobile-menu .link {
//     display: block;
//     padding: 10px;
//     color: #fff;
//     text-decoration: none;
// }