.reset-padding-bottom {
    padding-bottom: 0;
}

.reset-padding-right {
    padding-right: 0;
}

.reset-padding-left {
    padding-left: 0;
}

.reset-margin-bottom {
    margin-bottom: 0;
}

.reset-border {
    border: none;
}