// ---COLORS---
$mainColor: #212121;
$accentColor: #2196f3;
$descriptionColor: #757575;
$backgroundDarkColor: #2f303a;
$backgroundLightColor: #f5f4fa;
$whiteColor: #ffffff;
$blackColor: #000000;
$clientLogoColor: hsla(227, 6%, 70%, 1);

  
// ---BTN SHADOW---
$activeBtnShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
$hoverBtnShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


// ---BOX SHADOW---
$mobileWrkContainerShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);


// ---BORDER---
$mobileMenuBorderSocials: 1px solid rgba(33, 33, 33, 0.2);